/* Some size relative, so it works on mobile :> */

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #2d5933;
  color: #d1caca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



p {
  margin-top: 40px;
}

div {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #2c3e50;
} */

.flashcarddiv {
  width: 400px;
  height: 250px;
  margin: 50px;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 88, 159);
  border-radius: 12px;
  cursor: pointer;
}

.imagediv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* border: 2px solid black; */
  padding: 20px;
}

img {
  width: 500px;
  /* HOW TO GET THIS BIGGER WHILE ALSO NOT FUCKING UP FLASHCARD DIV */
  display: flex;
  justify-items: center;
}

div > button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prevButton {
  background-color: #8b8744;
  color: white;
}

.prevButton:hover {
  background-color: #beb850;
}

.nextButton {
  background-color: #2f65d2;
  color: white;
}

.nextButton:hover {
  background-color: #6392f0;
}

button:disabled {
  background-color: #bdc3c7;
}

button:disabled:hover {
  background-color: #bdc3c7;
  cursor: default;
}



@media (max-width: 500px) {
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagediv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 70%;
  }

  .flashcarddiv {
    width: 50%; 
    height: auto;
    font-size: 1.2rem; 
  }
}